.Blockquote {
  font-size: 1.6rem;
  margin: 0;
  display: flex;
  align-items: center;
  margin: 1.7rem 0;
}

.Blockquote__text {
  text-align: center;
  font-style: oblique;
  font-family: Raleway, sans-serif;
  font-weight: 200;
  margin: 20px auto;
  padding: 14px;
  position: relative;
  border-top: 3px solid #d476d4;
  border-bottom: 3px solid violet;
  transform: rotate(-1.2deg);
}

.Blockquote__text::before {
  font-style: initial;
  content: '‟';
  font-size: 5rem;
  position: absolute;
  top: -2rem;
  left: -2rem;
  color: #cdcdcd;
}

.Blockquote__text::after {
  font-style: initial;
  content: '‟';
  font-size: 5rem;
  position: absolute;
  bottom: -2rem;
  right: -2rem;
  color: #cdcdcd;
  transform: rotate(180deg);
}
